#main {
    background-color: whitesmoke;
    width: 750px;
    height: 750px;
    position: relative;
    align-items: center;
}

#newyork {
    width: 250px;
    height: 250px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("newyork.jpg")
}

#roma {
    left: 250px;
    width: 250px;
    height: 250px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("roma.jpg")
}

#stpetersburg {
    left: 500px;
    width: 250px;
    height: 250px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("stpetersburg.jpg")
}

