#total {
    background-color: gray;
    height: 120px;
    width: 200px;
    border: solid 1px black;
    overflow: scroll;
    top: 200px;
}

#main {
    width: 100vw;
    height: 100vh;
    background-image: url("pb.jpg");
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;

}


#inputs div {
    max-width: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}